
.main-cont{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: white;
    padding: 20px;
border-radius: 8px;
}
 .input{
  padding: 12px;
} 
.item{
    text-align: center;
    font-size: 30px;
    color: orange; 
    margin: 0;
}
p {
  margin: 0;
  font-size: 12px;
}
h5 {
  margin: 0;
font-family: sans-serif;
}
.main-phone{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.phone {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: green;
}

.fa-phone{
    color: white;
}

.online {
  display: flex;
  align-items: center;
  gap: 8px;
}